{% block controller_config -%}
      {% if controller.enlarged_state is defined and controller.enlarged_state -%}
          plugin: "mpc_enlarged_state::MPCEnlargedState"
      {% elif controller.social_motion is defined and controller.social_motion -%}
          plugin: "mpc_sfm_motion_model::MPCSFMMotionModel"
      {% elif controller.base is defined and controller.base -%}
          plugin: "mpc_base::MPCBase"
      {% else -%}
          {{ raise("MPC controller requires either 'enlarged_state', 'social_motion' or 'base' feature to be true.") }}
      {% endif %}
      transform_tolerance: 0.5
      max_robot_pose_search_dist: 6.0
      max_linear_vel: 0.6
      min_linear_vel: -0.2
      max_angular_vel: 1.4
      trajectorizer:
        waypoint_dist_tol: 0.05
        desired_linear_vel: 0.6
        omnidirectional: false
        lookahead_dist: 2.0
        allow_reverse: false
        reverse_heading_threshold: 2.56
        max_reverse_speed: 0.2
        base_frame: "base_link"
        time_step: 0.10
        max_time: 2.0
        motion_model_type: "unicycle"
        max_angular_accel: 3.0
        max_linear_accel: 2.5
        min_approach_linear_velocity: 0.05
        
        rotate_to_heading_angular_vel: 0.4
        rotate_to_heading_min_angle: 1.57
        use_interpolation: true
        use_rotate_to_heading: true
        
      optimizer:
        linear_solver_type: "DENSE_SCHUR"
        param_tol: 1.0e-9
        fn_tol: 1.0e-5
        gradient_tol: 1.0e-8
        max_iterations: 40
        control_horizon: 18
        parameter_block_length: 6
        discretization: 1
        debug_optimizer: false
        current_path_weight: 1.0
        current_cmds_weight: 0.5
        goal_proximity_activation_radius: 0.75
        goal_proximity_decay_distance: 0.25
        agent_velocity_bound: 0.6
        stationary_agent_velocity_bound: 0.01
        use_adaptive_velocity_cost: true
        adaptive_velocity_distance: 1.0
        adaptive_velocity_min_scale: 0.2
        max_agents: 3
        critics:
          enable_social_work: {% if controller.social_work_cost is defined %}{{ controller.social_work_cost | lower }}{% else %}false{% endif %}

          enable_social_angle: {% if controller.social_angle_cost is defined %}{{ controller.social_angle_cost | lower }}{% else %}false{% endif %}
          
          enable_social_proxemics: {% if controller.social_proxemics_cost is defined %}{{ controller.social_proxemics_cost | lower }}{% else %}false{% endif %}
          
          enable_social_path_follow: {% if controller.social_path_follow_cost is defined %}{{ controller.social_path_follow_cost | lower }}{% else %}false{% endif %}
          
          enable_social_path_align: {% if controller.social_path_align_cost is defined %}{{ controller.social_path_align_cost | lower }}{% else %}false{% endif %}
        
        weights:
          distance_weight: 20.0
          social_weight: 400.0
          velocity_weight: 10.0
          angle_weight: 300.0
          agent_angle_weight: 40.0
          proxemics_weight: 80.0
          velocity_feasibility_weight: 5.0
          goal_align_weight: 10.0
          obstacle_weight: 0.22
          goal_proximity_weight: 5.0
{% endblock -%}