{% block controller_config -%}
      {% if controller.enlarged_state is defined and controller.enlarged_state -%}
          plugin: "mpc_enlarged_state::MPCEnlargedState"
      {% elif controller.social_motion is defined and controller.social_motion -%}
          plugin: "mpc_sfm_motion_model::MPCSFMMotionModel"
      {% elif controller.base is defined and controller.base -%}
          plugin: "mpc_base::MPCBase"
      {% else -%}
          {{ raise("MPC controller requires either 'enlarged_state', 'social_motion' or 'base' feature to be true.") }}
      {% endif %}
      trajectorizer:
        omnidirectional: false
        desired_linear_vel: 0.6
        lookahead_dist: 1.0
        max_angular_vel: 1.4
        transform_tolerance: 0.5
        base_frame: "base_link"
        time_step: 0.05
        max_time: 1.5
      optimizer:
        linear_solver_type: "DENSE_SCHUR"
        param_tol: 1.0e-9
        fn_tol: 1.0e-5
        gradient_tol: 1.0e-8
        max_iterations: 40
        control_horizon: 18
        parameter_block_length: 6
        discretization: 1
        debug_optimizer: false
        current_path_weight: 1.0
        current_cmds_weight: 0.5
        max_agents: 3
        weights:
          distance_weight: 20.0
          social_weight: 400.0
          velocity_weight: 10.0
          angle_weight: 300.0
          agent_angle_weight: 40.0
          proxemics_weight: 80.0
          velocity_feasibility_weight: 5.0
          goal_align_weight: 10.0
          obstacle_weight: 0.13
{% endblock -%}