<?xml version="1.0"?>
<model>
  <name>bird_eye_camera</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>HunavSim</name>
    <email>noreply@example.com</email>
  </author>
  <description>
    Static camera model used to capture overhead snapshots in Gazebo.
  </description>
</model>
